<?xml version="1.0" encoding="utf-8"?>
<!--
	Copyright (C) 2010, 2011, 2012, 2013 Herbert von Broeuschmeul
	Copyright (C) 2010, 2011, 2012, 2013 BluetoothGPS4Droid Project
	Copyright (C) 2011, 2012, 2013 UsbGPS4Droid Project
	Copyright (C) 2013 Alexey Illarionov
	  
	This file is part of UsbGPS4Droid.
	
    UsbGPS4Droid is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    UsbGPS4Droid is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with UsbGPS4Droid.  If not, see http://www.gnu.org/licenses/
    
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.broeuschmeul.android.gps.usb.provider"
      android:versionCode="127"
      android:versionName="1.0 beta2">
      
    <uses-feature android:name="android.hardware.usb.host" />
	<uses-sdk android:targetSdkVersion="18" android:minSdkVersion="14" />
    
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
	
    <application
        android:icon="@drawable/ic_launcher_bluegps"
        android:label="@string/app_name"
        android:allowBackup="true" >
        <activity android:name=".UsbGpsActivity"
                  android:label="@string/app_name"
                  android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>
            <meta-data android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" android:resource="@xml/device_filter" />
        </activity>
		
		<service
		    android:name=".UsbGpsProviderService"
		    android:exported="false" >
			<intent-filter>
				<action android:name="org.broeuschmeul.android.gps.usb.tracker.nmea.intent.action.START_TRACK_RECORDING" />
				<action android:name="org.broeuschmeul.android.gps.usb.tracker.nmea.intent.action.STOP_TRACK_RECORDING" />
				<action android:name=".nmea.intent.action.START_GPS_PROVIDER" />
				<action android:name=".nmea.intent.action.STOP_GPS_PROVIDER" />
				<action android:name=".nmea.intent.action.CONFIGURE_SIRF_GPS" />
			</intent-filter>
		</service>

    </application>
</manifest> 
